/*
========================================================================================
    nf-test config file
========================================================================================
    Config options for nf-test
----------------------------------------------------------------------------------------
*/

config {
    testsDir = "."
    workDir = System.getenv("NFT_WORKDIR") ?: ".nf-test"
    configFile = "tests/nextflow.config"
    profile = "test"
}

dependencies {
    testDataDir = "tests/data"
}
